<html> 
         <body> 
            <h2>Overlay Test Page</h2> 
            <p> 
               Please enter your name: 
               <input type="text" name="name" /> 
            </p> 
            <p> 
               <input type="submit" value="Click Me!" /> 
            </p> 
    <div style="background-color: #ccc; position: absolute; top: 0px; left: 0px; width: 200px; height: 200px; z-index: 999;"> 
               This content overlays the elements beneath it! 
            </div> 
         </body> 
         </html> 