{% extends "layout.html" %}
{% block body %}

<div class="list-group">
<p class="bg-primary">Наш безкоштовний сервіс "Search cost of transportation",
 допоможе легко і швидко дізнатися орієнтовну вартість доставки Вашого відправлення територією України
  різними службами доставки(нповнюється). Заповніть форму інформацією по Вашому вантажному відправленню, 
  включаючи місто відправлення, місто одержання, габарити вантажу, та отримайте інформацю про загальну вартість перевезення</p>
  <p class="bg-danger">Варто відзначити, що даний розрахунок ціни при допомозі калькулятора приблизний, якщо бажаєте зробити точний розрахунок, Вам необхідно зв'язатися з оператором.</p>
</div>


<form  id="ajax_form" method="post" class="add-entry">
     <div class="next">
			<div class="form-group">
			
			<input class="form-control" autofocus id="out" type="text" autocomplete="off" size="30" name="city_out" placeholder="Місце відправлення" minlength="3" required/>
						
			</div>
        <div class="form-group">
		
        <input class="form-control" autocomplete="off" id="in" type="text" size="30" name="city_in" placeholder="Місце отримання" minlength="3" required/>
		
		</div>
		</div>
	
	
        
			<div class="delivery_block">
				<div class="form-group">
					<label class="valid" for="ServiceType">Тип послуги</label>
						<select class="form-control" name="ServiceType" id="ServiceType"> <!--выпадающий список-->
					<!--<select name="DeliveryForm" size=3> <!--список с прокруткой-->
							<option value="WarehouseWarehouse">Відділення-Відділення</option>
							<option value="DoorsDoors">Адреса-Адреса</option>
							<option value="DoorsWarehouse">Адреса-Відділення</option>
							<option value="WarehouseDoors">Відділення-Адреса</option>
							
	 
					</select>
				</div>
				<div class="form-group">
					<label class="valid" for="cargoType">Вид відправлення</label>
						<select class="form-control" name="cargoType" id="cargoType">
							<option value="Cargo">Посилки та вантажі</option>
							<option value="Documents">Документи</option>
							<option value="TiresWheels">Шини та диски</option>
							<option value="Pallet">Палети</option>
		
						</select>		
				</div>
			</div>
   	
        <div id = "tyres" >
        	<!--<div class="form-inline">
			<dt class="form-group" >
			<input class="form-control" type="text" size="30" name="weight" placeholder="Вага 1 місця"/></dt>
			<dt class="form-group" >
			<input class="form-control" type="text" size="30" name="volumetricLength" placeholder="Довжина 1 місця, см"/></dt>
			<dt class="form-group" >
			<input class="form-control" type="text" size="30" name="volumetricWidth" placeholder="Ширина 1 місця, см"/></dt>
			<dt class="form-group" >
			<input class="form-control" type="text" size="30" name="volumetricHeight" placeholder="Висота 1 місця, см"/></dt>
			
			</div>-->
			
			</div>
			<div class="next">
		<div class="form-group" >
			<input class="form-control" type="text" size="30" name="cost" placeholder="Загальна вартість"/>
			<span class="help-block" id="helpBlock">Загальна вартість, грн.</span>
			</div>
			
				</div>
			<div class="clear" style="clear: both;"></div>
			
		<button id="plus" class="btn btn-default" type="button">&#10010;</button>
		
    <button id="submit" class="btn btn-primary" type="submit">Розрахувати</button>
       
 </form>
    
 <div id="result">
 	
 </div>



  <ul class="entries">
  {% for entry in entries %}
    <li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}</li>
  {% else %}
    <li></li>
  {% endfor %}
  </ul>
{% endblock %}